@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);

}


body{
    font-family: 'Epilogue', sans-serif;
    background-color: var(--AlmostWhite);
    font-size: 18px;
}
/* ////////////////////////////////// */
/* HEADER */
.navbar{
    margin: auto;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    color: var(--AlmostBlack);
    /* border: solid 1px; */
    font-weight: 500;
    font-size: 1rem;
}
.nav_left{
    /* border: solid 1px; */
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;

}
ul{
    list-style: none;
}

.nav_left li span::after{
    content: url(./images/icon-arrow-down.svg);
}
.nav_left li:hover {
    display: block;
    background-color: rgb(194, 189, 189);
    border-radius: 15px;
}
.nav_left li:hover span::after{
    content: url(./images/icon-arrow-up.svg);
}
.nav_left li{
    position: relative;
    padding: 5px 1rem ;
}
.nav_left li ul{
    display: none;
    position: absolute;
    min-width:140px;
    margin-top: .5rem;
    left: -10px;
    
}

.nav_left li:hover ul{
    display: block;
    border-radius: 15px;
    box-shadow: 10px 10px 5px gainsboro;
    
}

.nav_left li ul li{
    margin: 3px ;
}
.nav_right{
    /* border: solid 1px; */
    display: flex;
    justify-content: space-between;
}
.nav_right>div{
    margin-right: 50px;
    padding-top: 5px;
}
.login{
    text-align: center;
    padding: 0 1rem;

}
.login:hover{
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
    border-radius: 15px;
}
.register{
    border: solid 1px var(--AlmostBlack);
    border-radius: 15px;
    padding: 0 1rem;
}
.register:hover{
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
}
/* /////////////////////////////////7 */

/* BODY */
.container{
    margin: 25px 160px 10px ;

    display: flex;
}
.container-left{
    /* border: solid 1px; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 100px;
    gap: 20px   ;

}
.title{
    font-weight: 700;
    font-size: 4rem;
}
.description{
    color: var(--MediumGray);
    font-weight: 500;
    font-size: 1rem;
}

.learn_more{
    font-weight: 500;
    padding: 15px;
    border: solid 1px;
    border-radius: 15px ;
    margin-top:100px;
}
.learn_more:hover{
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
}
.sponsor{
    justify-self: flex-end;
    position: relative;
    bottom: -150px;
}
.sponsor img{
    margin-right: 1rem;
}
.person{
    max-width: 600px;

}
.person:hover{
    filter: sepia();
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }